.image {
  /* object-fit: cover; */
  position: fixed;
  opacity: 0;
  animation: fadeIn ease-in-out 0.5s forwards;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
